<%- include('partials/header') %>

<div class="das_container">
  <div class="das_card">
    <h1 class="das_title">Welcome, <%= user.name %></h1>
    <h3 class="das_email">Email: <%= user.email %></h3>
  </div>
</div>

<%- include('partials/footer') %>
